body {
    padding: 0px;
    margin: 0px;
}

.header-container2 {
    background-color: #2874f0;
    height: 56px;
    overflow: hidden;
    width: 100%;
}

.header-data {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 70px;
    width: 1200px;
    margin: 0 auto;
}

.header-flip {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.explore-txt {
    display: flex;
    flex-direction: row;
}

.explore-img {
    height: 15px;
}

.explore-img img {
    width: 75px;
    height: 20px;
}

.explore a {
    color: white;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    font-weight: 500;
    padding-right: 5px;
}

.explore span {
    color: rgb(255, 229, 0);
    font-style: italic;
    font-size: 11px;
    font-weight: 700;
}

.explore img {
    width: 10px;
    height: 10px;
}

/* SEARCH BAR */
.searchbar-container2 {
    display: flex;
    justify-content: center;
    min-width: 304px;
    align-items: center;
    width: 564px;
    margin-right: 20px;
}

.searchbar2 {
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23);
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
    background-color: #fff;
    margin-left: 12px;
}

.search-holder {
    width: 100%;
}

.search-sec {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    width: 100%;
}

.searchbtn2 {
    border: 1px solid white;
    background-color: white;
    height: 36px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0px 8px
}

.search-holder2 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-holder2 input {
    padding: 0px 16px;
    border-radius: 2px 0px 0px 2px;
    border: 0;
    outline: 0 none;
    font-size: 13px;
    font-family: "Regular";
    height: 36px;
    width: 100%;
    line-height: normal;
}

.searchinput2 {
    width: 100%;
}

.login-container2 {
    display: flex;
    align-items: center;
    min-width: 112px;
    flex: 0 0 auto;
    margin: 0px 20px;
    max-width: 150px;


}

.tri2 {
    border-left: 13px solid transparent;
    border-top: 6px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #ffffff;
    top: 22px;
    position: relative;
    right: 75px;
    display: none;
}

.login-bar2:hover .login-down {
    display: block;
}

.login-bar2:hover .tri2 {
    display: block;
}

.login-down {
    position: absolute;
    background-color: white;
    z-index: 9;
    padding: 16px;
    overflow: auto;
    right: 40%;
    transform: translateX(50%);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
    top: 52px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    max-width: 240px;
    margin-top: 6px;
    min-width: 24px;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    border-color: #f0f0f0;
    text-align: left;
    width: 240px;
    display: none;
}

.profile-cont2 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f0f0f0;
}

.login-down2 {
    margin: -16px;

}

.cust2 {
    padding: 20px;
    text-align: center;

}

.cust3 {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
}

.profile-cont {
    border-top: 1px solid #f0f0f0;
}

.profile-cont2 {
    padding: 16px 20px !important;

}

.pro2 {
    margin-left: 12px;
}

.new-sign {
    color: #2874f0;
}

.login-bar2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
}

.login-bar2 a {
    color: #2874f0;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    font-family: "SemiBold";
    text-decoration: none;

}

.seller-container2 {
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    align-content: center;
    justify-content: flex-end;
}

.seller-container2 a {
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: white;
    position: relative;
    text-decoration: none;
    font-family: "SemiBold";
    display: flex;
    align-items: center;
}

.more-container2 {
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    align-content: center;
    justify-content: flex-end;
}

.more-bar2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    color: white;
    font-family: "SemiBold";

}

.more-container2 :hover .more-down2 {
    display: block;
}

.more-container2 :hover .tri3 {
    display: block;
}

.more-text {
    display: flex;
    flex-direction: row;
}

.more-down2 {
    position: absolute;
    z-index: 999;
    top: 55px;
    background-color: white;
    box-shadow: 0px 4px 16px 0px rgb(0, 0, 0, 0.2);
    width: 240px;
    right: 300px;
    display: none;

}

.more-data2 div {
    margin-left: 12px;
    font-weight: 100;
    font-family: "Regular";
    font-size: 13px;

}

.more-li {
    list-style: none;
}

.tri3 {
    border-left: 13px solid transparent;
    border-top: 9px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #ffffff;
    top: 18px;
    position: relative;
    right: 35px;
    z-index: 999999;
    display: none;
}

.more-ul {
    text-align: left;
    font-size: 14px;
    color: #212121;
    font-weight: 100;
}

.more-data2 {
    display: flex;
    flex-direction: row;
    padding: 16px 12px;
    border-bottom: 1px solid #f0f0f0;
    opacity: .2px;
}

.more-date {
    overflow: hidden;
    white-space: nowrap;
    max-width: 108px;
    display: block;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
}

.more-container2 :hover .more-svg {
    transform: rotate(180deg);
    margin-top: 3px;
    margin-left: 8px;
}

.more-svg svg {
    transition: transform .1s, -webkit-transform .1s;
    transform: rotate(270deg);
    margin: 1px 0 0 8px;
}

.cart-container2 {
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    align-content: center;
    justify-content: flex-end;
}

.cart-bar2 {
    display: inline-block;
    position: relative;
}

.cart-content2 {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: white;
}

.cart-container2 svg {
    margin: 0px 8px;
    height: 16px;
    width: 16px;
}

.cart-container2 span {
    font-family: "SemiBold";

}

/* SUB -  HEADER*/
.subheader-container2 {
    position: relative;
    min-height: 40px;
    color: black;
    width: 100%;
}

.sub-header2 {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    position: relative;
}

.sub-inner2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    margin: auto;
    position: relative;
    max-width: 1248px;
}

.sub-inner2 span {
    font-family: "SemiBold";
    font-size: 13px;
    line-height: 19.6px;
}

.sub-inner2 svg {
    margin-left: 8px;
    transform: rotate(270deg);
    fill: #878787;
    opacity: .5;
}


/* BODY CONTAINER */
body {
    background-color: #f1f3f6;
}

.body-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1680px;
    padding: 8px;
    position: relative;
    display: flex;
    flex-flow: row;

}

.filter-container2 {
    flex: 0 0 280px;
    max-width: 280px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
    background-color: white;
    height: min-content;
    width: 270px;
}

.Filter-inner2 {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.filter-container3 {
    display: block;
    width: 100%;
}

.Filter-main2 {
    position: relative;
    background-color: white;
    border-bottom: 1px solid #f0f0f0;

}

.Filter-txt2 {
    padding-bottom: 12px;
    padding: 16px;

}

.Filter-txt3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Filter-txt4 {
    font-size: 18px;
    width: 67%;
    font-weight: 500;
    letter-spacing: .3;
    display: inline-block;
    font-family: "SemiBold";
}

.category2 {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.Categories-text {
    font-size: 11px;
    font-weight: 500;
    color: #212121;
    margin-bottom: 5px;
    font-family: "SemiBold";
}

.text3 {
    padding: 5px 0px;
    color: #212121;
    white-space: nowrap;
}

.text3 svg {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    fill: #878787;
}

.text3 a {
    color: #878787;
    font-size: 13px;
    text-decoration: none;
    font-family: "Regular";
}

.mobiles4 {
    padding: 5px 0px;
    color: #212121;
    white-space: nowrap;
}

.mobiles4 svg {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.mobiles4 a {
    font-weight: 500;
    text-decoration: none;
    font-family: "SemiBold";
    color: black;
    font-size: 13px;
}


/* -----------PRODUCTS -CONTAINER---------- */
.Products-container2 {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    background-color: white;
    margin-left: 10px;
}

.product-main {
    width: 100%;
}

.product-top {
    background-color: white;
    align-items: flex-end;

}

.product-top2 {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.product-top3 {
    background-color: white;
    padding: 12px 16px 0px;
    border-bottom: 1px solid #f0f0f0;
    height: 100%;
    min-height: 72px;
    width: 100%;

}

.home-data {
    box-sizing: border-box;

}

.home2 {
    font-size: 12px;
    color: #878787;
    display: inline-block;
}

.home2 a {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #878787;
}

.home2 svg {
    height: 7px;
    width: 20px;
    transform: rotate(180deg);
    vertical-align: middle;
    fill: #878787;
}

.accessories2 {
    font-size: 12px;
    color: #878787;
    display: inline-block;
}

.accessories2 a {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #878787;
}

.accessories2 svg {
    height: 7px;
    width: 20px;
    transform: rotate(180deg);
    vertical-align: middle;
    fill: #878787;
}

.mob-new {
    font-size: 12px;
    color: #878787;
    display: inline-block;
}

.mob-new a {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #878787;
}

.sort-span {
    font-weight: 500;
    font-size: 15.5px;
    margin-top: 8px;
    display: inline-block;
    font-family: "SemiBold";
}

.sort-container {
    display: flex;
    align-items: center;
}

.sort2 {
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-weight: 500;
    padding: 8px 10px 4px 0px;
    font-size: 13px;
    font-family: "SemiBold";
}

.relevence2 {
    color: #2874f0;
    cursor: pointer;
    border-bottom: 2px solid #2874f0;
    font-weight: 500;
    padding: 8px 0 4px;
    margin: 0 10px;
    font-size: 13px;
    font-family: "SemiBold";
}

.popularity2 {
    cursor: pointer;
    padding: 8px 0 4px;
    margin: 0 10px;
    font-size: 13px;
    font-family: "Regular";

}

.low2 {
    cursor: pointer;
    padding: 8px 0 4px;
    margin: 0 10px;
    font-size: 13px;
    font-family: "Regular";
}

.high2 {
    cursor: pointer;
    padding: 8px 0 4px;
    margin: 0 10px;
    font-size: 13px;
    font-family: "Regular";
}

.new2 {
    cursor: pointer;
    padding: 8px 0 4px;
    margin: 0 10px;
    font-size: 13px;
    font-family: "Regular";
}


/* -----------PRODUCT LISTING---------------- */
.product-listing1 {
    display: block;
    width: 100%;
}

.product-listing2 {
    display: flex;
    align-items: stretch;
    background-color: white;
}

.product-listing3 {
    width: 100%;
}

.product-main1 {
    display: flex;
}

.product-listing4 {
    line-height: 1;
    padding: 24px 0 30px 24px;
    display: block;
    position: block;
    border-bottom: 1px solid #f0f0f0;
}

.apple-item1 {
    position: relative;
    width: 200px;
}

.apple-item2 {
    position: relative;
    display: block;
}

.apple-item4 {
    height: 200px;
    width: 200px;
}

.apple-item4 img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

.compare2 {
    display: block;
    margin-top: 16px;
}

.compare3-span {
    display: inline-block;
}

.add span {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 13px;
    color: #212121;
    cursor: pointer;
    font-family: "Regular";

}

.heart2 {
    position: absolute;
    display: inline-block;
    top: 2px;
    right: -8px;
    cursor: pointer;
}

.heart3 {
    position: relative;
    display: inline-flex;
}

.product-datas {
    padding-left: 25px;
    width: calc(100% - 100px);
    display: flex;
    flex-flow: row wrap;
}

.product-items2 {
    width: 58.33%;
    display: inline-block;
}

.product-title {
    font-weight: 500;
    font-size: 18px;
    display: block;
    cursor: pointer;
    font-family: "SemiBold";
}

.product-rating {
    margin-top: 6px;
}

.green-main {
    position: relative;
}

.green-main2 {
    line-height: normal;
    display: inline-block;
    color: white;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 800;
    font-size: 11px;
    vertical-align: middle;
    background-color: #388e3c;
    font-family: "Regular";
}

.green-rating {
    padding-left: 8px;
    font-weight: 500;
    color: #878787;
    font-family: "SemiBold";
    font-size: 13px;
}

.green-main2 img {
    margin: 2px 0 0 2px;
    height: 10px;
}

.main-data {
    margin-top: 13px;
}

.main-data1 {
    margin-top: 5px;
    color: #212121;
    line-height: 22px;
    display: table;
}

.main-data1 li {
    display: table-row;
}

.rom {
    color: #212121;
    display: table-cell;
    padding-right: 8px;
    font-size: 13px;
    font-family: "Regular";
}

.rom::before {
    content: "•";
    color: #c2c2c2;
    margin-right: 6px;
}

.best-seller {
    background-color: rgb(0, 160, 152);
    position: absolute;
    top: 2px;
    left: -16px;
    z-index: 4;
    height: 20px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.45;
    font-weight: 500;
    color: white;
    padding: 0 8px;
    border-radius: 2px;
    font-family: "SemiBold";
}

/* PRICE CONTAINER */
.price-container2 {
    padding-left: 25px;

}

.price2 {
    display: inline-block;
    margin-top: -1px;
    padding-right: 10px;
}

.rate {
    font-size: 25px;
    display: block;
    font-family: "SemiBold";
}

.rate-cut {
    padding-top: 10px;
    margin-left: 0px;
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
    display: inline-block;
}

.offer2 {
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 500;
    display: inline-block;
    margin-left: 8px;
    font-family: "SemiBold";
}

.f-assured2 {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding-bottom: 4px;
}

.exchange-main2 {
    margin-top: 5px;
}

.exchange-main3 {
    display: flex;
}

.bank-offer3 {
    display: inline-block;
}

.upto2 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    font-family: "Regular";
    white-space: pre;

}

.upto-rate {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-style: normal;
    white-space: pre;
    font-family: "SemiBold";

}

.off-on {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-left: 4px;
    font-family: "Regular";
}

.bank-offer2 {
    margin-top: 5px;
}

.bank-offer3 {
    display: inline-block;
}

.bank-txt {
    color: rgb(38, 165, 65);
    font-size: 13px;
    font-weight: 700;
}

.f-assured2 {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding-bottom: 4px;
}

.f-assured2 img {
    height: 21px;
}

.unavailable {
    width: 90%;
    font-size: 14px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 10px 15px;
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.unavailable span {
    color: #388e3c;
}

.ram-container2 {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.ram-container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: -16px;
    padding: 16px;
}

.ram-main {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .3px;
    display: inline-block;
    font-family: "SemiBold";
    color: #212121;
}

.ram-container3 svg {
    transform: rotate(90deg);
    display: inline-block;
    cursor: pointer;
    width: 6px;
    height: 11px;
}

.option-main2 {
    margin: 7px 0;
    box-sizing: border-box;
}

.option-main3 {
    padding: 3px 0px;
    cursor: pointer;
}

.option-main4 {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.option-main4 input {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1.4px solid #c2c2c2;
    border-radius: 1.5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.option-main4 label {
    padding: 6px 0px;
    cursor: pointer;
}


.each2 {
    vertical-align: middle;
    font-size: 13px;
    padding-left: 11px;
    color: #212121;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Regular";
    line-height: 1;
    cursor: pointer;
}

.help-container {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
}

.need-txt1 {
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    font-family: "Regular";
}

.need-text2 {
    color: #2874f0;
    line-height: 1;
    font-size: 18px;
    margin: 5px 0 20px;
    font-weight: 500;
    font-family: "Regular";
}

.need-text2 svg {
    transform: rotate(180deg);
    width: 6px;
    height: 12px;
    margin-left: 4px;
}


/* PRICE CONTAINER */
.price-range2 {
    height: 25px;
    margin-top: 10px;
}

.price-range3 {
    height: 100%;
    position: relative;
    bottom: -6px;
}

.range1 {
    height: 25px;
    width: 47.362px;
    background-color: #e0e0e0;
    display: inline-block;
    position: relative;
}

.trach-container1 {
    box-sizing: border-box;
}

.trach-container2 {
    position: relative;
    height: 13px;
    cursor: pointer;
}

.range-circle1 {
    transform: translateX(0px);
}

.circle1 {
    right: 0px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: white;
}

.range-circle2 {
    transform: translateX(-1.19px);
}

.circle2 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: white;

}

.track1 {
    background-color: #c2c2c2;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    top: 4px;
    height: 2px;

}

.track2 {
    background-color: #2874f0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    top: 4.5px;
    height: 6px;
}

.dot-container2 {
    margin-top: -12px;
}

.dot1 {
    width: 47.32px;
    display: inline-block;
    user-select: none;
    text-align: left;
    content: "\00B7";
    color: #c2c2c2;
    font-size: 20px;
}

.price-select2 {
    color: #a3a3a3;
    font-size: 14px;
    margin: 5px -4px 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.min-container {
    display: inline-block;
    flex-grow: 2;
}

.min-select {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    appearance: none;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwbDUgNSA1LTUiIGZpbGw9IiMyMTIxMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 90% 50%;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;
}

.op {
    padding: 0px 7px;
}

.to {
    display: inline-block;
    margin: 0 9px;
    font-size: 14px;
    color: #878787;
    line-height: 1;
    flex: 1;
    text-align: center;
}

.max-container {
    display: inline-block;
    flex-grow: 2;
    margin-left: 1.5px;
}

.max-select {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    appearance: none;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwbDUgNSA1LTUiIGZpbGw9IiMyMTIxMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 90% 50%;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;
}



.drop-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: absolute;
    top: 11px;
    left: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .16);
    width: 1200px;

}

.drop-inside {
    background-color: white;
}

.menu-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;

    background: white;
    z-index: 10;
}

.menu-item:hover .dropdown {
    display: block;
}

.dropdown1 {
    display: none;
    position: absolute;
    right: 280px;
    background: white;
    z-index: 10;
}

.menu-item:hover .dropdown1 {
    display: block;
}

.dropdown2 {
    display: none;
    position: absolute;
    right: 380px;
    background: white;
    z-index: 10;
}

.sub-inner2 span:hover {
    color: #2874f0;

}

.menu-item:hover svg {
    transform: rotate(90deg);
    fill: #2874f0;
    opacity: 1;
}

.menu-item:hover .dropdown2 {
    display: block;
}

.dropdown3 {
    display: none;
    position: absolute;
    right: 490px;
    background: white;
    z-index: 10;
}

.menu-item:hover .dropdown3 {
    display: block;
}

.dropdown4 {
    display: none;
    position: absolute;
    right: 640px;
    background: white;
    z-index: 10;
}

.menu-item:hover .dropdown4 {
    display: block;
}

.dropdown5 {
    display: none;
    position: absolute;
    right: 810px;
    background: white;
    z-index: 10;
}

.menu-item:hover {
    color: blue;
}

.menu-item:hover .dropdown5 {
    display: block;
}

.dropdown6 {
    display: none;
    position: absolute;
    right: 1020px;
    background: white;
    z-index: 10;
}

.menu-item:hover .dropdown6 {
    display: block;
}

.drop-inside-1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 25px;
    background-color: white;
    width: 100%;
    color: black;
}

.drop-inside-1 a {
    color: black;
    text-decoration: none;
    padding: 5px 0;
    color: #666;
    font-size: 13px;
    font-family: "Regular";
    white-space: nowrap;
}

.drop-inside-1 h2 {
    margin-top: 5px;
    padding: 8px 0;
    color: #212121;
    font-size: 13px;
    cursor: pointer;
    font-family: "Regular";
    padding: 8px 0px;
    white-space: nowrap;
}

.drop-inside-2 {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    background-color: #f9f9f9;
    width: 100%;
    color: black;
    flex-wrap: nowrap;

}

.drop-inside-2 a {
    color: black;
    text-decoration: none;
    padding: 5px 0;
    color: #666;
    font-size: 13px;
    font-family: "Regular";
    display: flex;
    white-space: nowrap;
}

.drop-inside-2 h2 {
    margin-top: 5px;
    padding: 8px 0;
    color: #212121;
    font-size: 13px;
    cursor: pointer;
    font-family: "Regular";
    padding: 8px 0px;
    white-space: nowrap;
}

.product-listing3 :hover .product-title {
    color: #2874f0;
}

.activesort {
    color: #2874f0;
    font-family: "SemiBold";
    border-bottom: 2px solid #2874f0;
}


.search-dropdown {
    background-color: white;
    position: fixed;
    z-index: 999;
    width: 552px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .06);

}

.search-item {
    padding: 10px 16px;
    font-size: 14px;
}

.grey-text {
    margin: 8px 0 0 -4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grey-text2 {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 100%, .5);
    border-radius: 3px;
    margin: 2px 4px;
    overflow: hidden;
    transition: background-color .1s;
    max-width: 200px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.cros2 {
    display: inline-block;
}

.text-display {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    margin-left: 8px;
    max-width: 90%;
}

.clearall2 {
    font-size: 11px;
    font-family: "SemiBold";
    color: #2874f0;
    cursor: pointer;
}

.clearall-main {
    cursor: pointer;
    padding: 7px 0px;
}

.cros3 {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 1px 0px;
    font-size: 11px;
    text-align: center;
    color: #878787;
    vertical-align: middle;
    height: 14px;
    width: 14px;
}

.clear-new {
    display: inline;
    font-size: 13px;
    font-family: "Regular";
    color: #878787;
    margin-left: 11px;
}


.ukzDZP.rZzKt4 {
    transition: transform 0.3s ease;
    transform-origin: 50% 50%;
    /* Use percentages for SVG */
}

.ukzDZP.rZzKt4.rotated {
    transform: rotate(90deg);
}

.heart-5 {
    display: none;
}

@media screen and (max-width:1024px) {
    body{
        background-color: white;
    }
    .header-main1 {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 52px;
        overflow: hidden;
        align-items: stretch;
        display: flex;
        flex-direction: column;
    }

    .header-main3 {
        color: black;
        background-color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        min-height: 52px;
        height: 52px;
    }

    .arrow-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 100%;
        color: white;
        line-height: normal;
    }

    .arrow-cont svg {
        display: block;
    }

    .flipimage2 {
        display: flex;
        align-items: center;
        height: 28px;
        overflow: hidden;
        line-height: 10px;
        max-width: 111px;
        padding-top: 2px;
        position: relative;
        height: 100%;

    }

    .flipimage2 img {
        width: 23px;
        max-width: 111px;
        line-height: 10px;
        overflow: hidden;
    }

    .head-mobile1 {
        color: #212121;
        display: flex;
        height: 100%;
        text-align: center;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        padding-left: 12px;
        box-sizing: border-box;
    }

    .head-mobile2 {
        text-align: left;
        overflow: auto;
    }

    .mobiles-texts {
        font-size: 16px;
        font-weight: 400;
        font-family: "Regular";
        letter-spacing: -0.4px;
        box-sizing: border-box;
    }

    .search-a {
        height: 100%;
        display: flex;
        align-items: center;
        width: 49px;
        justify-content: center;
        line-height: 10px;
        position: relative;
        overflow: hidden;
    }

    .cart-a {
        height: 100%;
        display: flex;
        align-items: center;
        width: 49px;
        justify-content: center;
        line-height: 10px;
        position: relative;
        overflow: hidden;
    }

    .loign-a {
        color: black;
        width: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        line-height: 10px;
        position: relative;
        text-decoration: none;
        font-family: Roboto, Arial, sans-serif;
        letter-spacing: normal;
    }

 

    .sort-filter1 {
        position: absolute;
        top: 52px;
        left: 0px;
        right: 0px;
        height: 48px;
        z-index: 10;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-top: 1px solid rgb(213, 215, 219);
    }


    .sort-filter2 {
        flex: 1 1 0%;
    }

    .sort-filter3 {
        border-top-width: 1px;
        height: 48px;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-color: rgb(220, 223, 230);
        border-bottom-width: 1px;
        background-color: white;
        border-top-width: 1px;
    }

    .sort-filter4 {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        align-self: stretch;
        justify-content: center;
        border-bottom:1px solid rgba(220,223,230,1.00);
    }

    .sorting1 {
        flex: 1 1 0%;
    }

    .sorting2 {
        display: flex;
        flex-direction: row;
        height: 48px;
        align-items: center;
        justify-content: center;
    }

    .sorting-text5 {
        color: rgb(17, 17, 18);
        margin-left: 8px;
        font-size: 14px;
        line-height: 20px;
        font-family: "SemiBold";
        letter-spacing: -0.01px;
        flex-shrink: 1;

    }

    .vertical-line {
        height: 16px;
        width: 1px;
        background-color: rgb(213, 215, 219);


    }

    .hai {
        display: flex;
        align-items: center;
    }

    .three-main1 {
        min-height: 56px;
        background-color: white;
        height: 56px;
        position: relative;
        top: 100px;
        width: 100%;
        border-top: 1px solid rgb(213, 215, 219);
        border-bottom: 1px solid rgb(213, 215, 219);

    }

    .three-main2 {
        height: 56px;

        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0);
        flex-direction: row;
    } 

    .three-square {
        height: 56px;
        width: 317px;
        padding: 0px 11px;
        display: flex;
        align-items: center;
    }

    .top-sale1 {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 7px;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 4px;
        height: 39px;
        width: fit-content;
    }

    .top-sale2 {
        display: flex;
        flex-direction: row;
        padding-left: 4px;


    }

    .topsales-text {
        line-height: 16px;
        white-space: normal;
        max-width: fit-content;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(33, 33, 33);
        font-size: 11px;
        font-family: "Regular";
        font-style: normal;
        display: flex;
        align-items: center;
        padding-right: 8px;

    }

    .topsales-img {

        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }

    .phonead {
        flex: 1 1 0%;
        position: relative;
        top: 100px;

    }

    .phonead img {
        width: 100%;
    }

    .main-data {
        display: none;
    }

    .product-datas {
        display: flex;
        flex-direction: column;
    }

    .compare2 {
        display: none;
    }

    .product-top {
        display: none;
    }

    .Products-container2 {
        margin: 0px;
        position: relative;
        top: 90px;
    }

    .product-listing1 {
        position: relative;
    }

    .apple-item4 img {
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: contain;
    }

    .apple-item4 {
        display: flex;
        position: relative;
        width: 96px;
        height: 120px;
    }

    .apple-item3 {
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        margin-left: 6px;
        margin-top: 10px;
        height: 120px;
        overflow: hidden;
    }

    .apple-item1 {
        width: fit-content;
    }

    .product-listing4 {
        flex-flow: wrap;
        flex: 1 1 0%;
        min-height: 154px;
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 0px;
    }

    .best-seller {
        left: 4px;
        position: relative;
        width: fit-content;
        font-size: 10px;
        line-height: 16px;
        font-family: "SemiBold";

    }

    .heart2 {
        display: none;
    }

    .product-title {
        font-size: 14px;
        color: rgb(17, 17, 18);
        line-height: 20px;
        font-family: "Regular";
        letter-spacing: -0.01px;
    }

    .rate {
        font-size: 17px;
        line-height: 24px;
        letter-spacing: -0.01px;
        color: rgb(18, 18, 17);
    }

    .price-container2 {
        padding-left: 9px;
    }

    .product-datas {
        justify-content: flex-end;
        padding-left: 12px;
        padding-right: 20px;
    }

    .price-container2 {
        padding-left: 0px;
    }

    .green-rating {
        font-family: "Regular";
        padding-right: 2px;
    }

    .fimg {
        height: 16px;
        position: relative;
        top: 3px;
    }

    .f-assured2 {
        display: none;
    }

    .product-title {
        margin-bottom: 4px;
        margin-right: 24px;
        width: fit-content;
    }

    .equal {
        margin-bottom: 6px;
    }

    .wow-new {
        color: rgb(22, 66, 185);
        font-size: 17px;
        line-height: 24px;
        font-family: "SemiBold";
        margin-left: 5px;
        margin-right: 5px;
    }

    .bank-blue {
        color: rgb(22, 66, 185);
        font-size: 12px;
        line-height: 15px;
        font-family: "Regular";
    }

    .exchange-main2 {
        width: fit-content;
    }

    .upto2 {
        font-size: 11px;
        font-family: "Regular";
    }

    .upto-rate {
        font-size: 11px;
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
    }

    .off-on {
        font-size: 11px;
        font-family: "Regular";
    }

    .year {
        font-size: 12px;
        color: rgb(102, 102, 102);
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .product-main1 {
        flex: 1;
        align-items: flex-start;
        padding-left: 12px;
        padding-right: 20px;
        margin-top: 12px;
        margin-bottom: 6px;
    }

    .heart-5 {
        display: inline;
    }

    .blue-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        background-color: rgb(223, 234, 253);
        flex: 1 1 0%;
    }

    .blue-content {
        overflow: hidden;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 16px;
        background-color: rgb(223, 234, 253);
    }

    .custom-divider {
        width: 100%;
        background: #f8f8f8;
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .blue-span {
        font-size: 16px;
        font-size: normal;
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
        font-weight: 400;

    }

    .blue-box {
        min-height: 44px;
        align-items: center;
        overflow: hidden;
    }

    .blue-box2 {
        height: 44px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        padding-left: 11px;
        flex-direction: row;
        align-items: center;
    }

    .bluebox1 {
        align-items: stretch;

    }

    .bluebox3 span {
        color: rgb(33, 33, 33);
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        margin-right: 16px;
        margin-left: 18px;
    }

    .bluebox3 {
        margin: auto;
    }

    .bluebpox2 {
        box-shadow: rgba(135, 135, 135, 0.3) 0px 1px 2px;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 16px;
        height: 32px;
        background-color: white;
        display: flex;
        flex-basis: auto;
    }

    .blue-box3 {
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .blue-box3::-webkit-scrollbar {
        display: none;
    }

    .vil-box1 {
        transform: translate(0px 1379px);
        align-items: stretch;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .vil-box2 {
        background-color: rgb(82, 55, 190);
        margin: 0px;
    }

    .vil-top1 {
        overflow: hidden;
    }

    .vil-top2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 16px;
    }

    .vil-top3 {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .vil-arrow {
        background-color: white;
        height: 36px;
        width: 36px;
        border-radius: 18px;

    }

    .vil-arrow img {
        width: 16px;
        height: 16px;
        display: flex;
        position: relative;
        padding: 10px;

    }

    .vil-text1 {
        color: white;
        font-size: 16px;
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
        font-style: normal;
        font-weight: 400;
    }

    .vil-text2 {
        font-size: 14px;
        color: white;
        font-family: Roboto, Arial, sans-serif;
        line-height: 16px;
        font-weight: 400;
        margin-top: 4px;
    }

    .vil-text2 img {
        height: 14px;
        width: 14px;
    }

    .add-mobiles {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
        margin-left: 12px;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .add-mobiles::-webkit-scrollbar {
        display: none;
    }

    .product-card img {
        width: 63px;
        height: 80px;
    }

    .product-card1 {
        display: flex;
        flex: row;
    }

    .col55 {
        display: flex;
        flex-direction: row;
    }

    .product-card {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        border-radius: 5px;
        width: 281px;
    }

    .product-card1 {
        padding-bottom: 8px;
        padding-top: 12px;
        width: 281px;
    }

    .para2 {
        font-size: 14px;
        font-family: "Regular";
        color: rgb(33, 33, 33);
        font-weight: 400;
        display: flex;
        text-align: start;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
    }

    .span-rom {
        margin-top: 4px;
        color: rgb(135, 135, 135);
        font-size: 12px;
        font-family: "Regular";
        font-weight: 400;
        display: flex;
        align-items: flex-start;
    }

    .sec-22 {
        padding-left: 12px;
        padding-right: 8px;
    }

    .cut22 {
        color: rgb(135, 135, 135);
        font-size: 12px;
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
        text-decoration-line: line-through;
    }

    .real-price {
        margin-left: 4px;
        color: black;
        font-size: 12px;
        font-weight: 400;
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;

    }

    .discount22 {
        display: flex;
        align-items: flex-start;
        color: rgb(75, 181, 80);
        font-size: 12px;
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
    }

    .ram-rom22 {
        font-size: 12px;
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
        padding-left: 8px;
        padding-right: 8px;
        color: rgb(135, 135, 135);
        border: 1px solid rgb(240, 240, 240);
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: 100px;
    }

    .fullest {
        display: flex;
        flex-direction: row;
    }

    .product-img {
        margin-left: 12px;
    }

    .fullest1 {
        margin-bottom: 6px;
        margin-top: 8px;
        padding-left: 4px;
        padding-right: 12px;
    }

    .para3 {
        margin-bottom: 8px;
        margin-left: 8px;
    }

    .three-square {
        animation: slideIn 1s ease-out forwards;
        opacity: 1
    }

    @keyframes slideIn {
        from {
            transform: translateX(1024px);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .another-box {
        position: fixed;
        top: 10px;
        width: 100%;
        background-color: white;
        top: 585px;
        z-index: 9999999;
        display: flex;
        flex-direction: column;
    }

    .filter-down2 {
        width: 100%;
        padding-bottom: 24px;

    }

    .sortby2 {
        padding: 12px;
        color: rgb(135, 135, 135);
        border-bottom: 1px solid rgb(234, 234, 234);
        box-sizing: border-box;
        margin-bottom: 12px;


    }

    .popularity51 {
        margin-bottom: 8px;
        margin-right: 8px;
        padding: 6px 12px;
    }

    .popularity52 {
        display: flex;
        justify-content: space-between;
        color: black;
        font-size: 14px;
        font-family: Roboto Medium, Roboto-Medium, Droid Sans, HelveticaNeue-Medium, Helvetica Neue Medium, sans-serif-medium;
        ;
    }

    .popularity52 input {
        accent-color: blue;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
        z-index: 999;

    }
    
.sorting2 a{
    text-decoration: none;
} 
.filter-section3{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    transform: translateY(0px);
    opacity: 1;
    height: 52px;
    z-index: 0;
    overflow: hidden;
    
}
.filter-section4{
    color: black;
    background-color:white;
    height: 52px;
    display: flex;
    flex-direction: row;
}
.arrow-filter {
  display: flex;              
  align-items: center;   
  text-align: center;      
  justify-content: center;    
  color: #fff;
  width: 42px;
  position: relative;
  overflow: hidden;
  height: 52px;
}

.arrow-filter svg {
  display: block;              
  color: #fff;

}
.filter-heading{
    color: black;
    padding-left: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}
.filter-heading3{
    width: 100%;
    text-align: left;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filter-name h2{
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: normal;
}
.clear-filters{
    color: black;
    position: relative;
    right: 18px;
    font-size: 12.5px;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: normal;
}
.filter-both1{
    padding-top: 52px;
    padding-bottom: 56px;
}
.filter-both2{
    display: flex;
    flex-direction: column;
}
.filter-both3{
    height: 705px;
    width: 100%;
}
.filter-left1{
    display: flex;
    flex-direction: column;
    width: 341.333px;
}
.filter-left2{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.filter-left3{
    height: 704px;
    background-color:  rgb(241, 243, 246);
}
.filter-left4{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    transform: translateZ(0px);
    flex-grow: 1;
    overflow-x: hidden;
}
.brand-filter2{
    height: 56px;
    width: 341px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}
.brand-filter4{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 8px;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.brand-filter4 span{
    width: 100%;
    line-height: 20px;
    max-width: 100%;
    text-overflow: ellipsis;
    margin-right: 8px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgb(40, 116, 240);
    font-size: 14px;
    flex: 1 1 0%;
}
.brand-filter4 p{
    color: rgb(40, 116, 240);
    font-size: 14px;

}
.brand-filternew p{
    color: rgb(40, 116, 240);
    font-size: 14px;

}
.brand-filternew{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 8px;
}
.brand-filternew span{
    width: 100%;
    line-height: 20px;
    max-width: 100%;
    text-overflow: ellipsis;
    margin-right: 8px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: black;
    font-size: 14px;
    flex: 1 1 0%;
}
}          
           
                                                                                                            

         

                                     

